<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Simple Fantasy Football</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body class="container">
      <div class="row">
          <h1>Welcome to Simple Fantasy Football</h1>
          <p>
              Instead of making a season-long commitment and actually having to pick players, just let us pick the teams
              for you and point you in the right direction. Trade-in up to three players in a single week and keep your favorite player for each week for the next week!
          </p>
          <h3>New? Start Your Game Here</h3>
          <a class="btn btn-default" href="/set_up_new_game">Set Up New Game</a>
          <h3>View Current Game</h3>
          <input class="form-control" placeholder="Enter your game name here" />
      </div>

  </body>
 </html>