<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Set Up Teams</title>
  </head>
  <body>
    <h1> Game: {{ game_name }}</h1>
    <h2>Team <a href="/team/{{ game_name }}/{{ team.team_name }}">{{ team.team_name }}</a>:</h2>
      <h3> Quarterbacks </h3>
      <p>
        {% if team.starred_position == "qb1" %}
          Starred:
        {% endif %}
        {{ team.qb1[0]}}: Average Points = {{ team.qb1[1] }}
      </p>
      <p>
        {% if team.starred_position == "qb2" %}
          Starred:
        {% endif %}
        {{ team.qb2[0]}}: Average Points = {{ team.qb2[1] }}
      </p>
      <h3> Receivers </h3>
      <p>
        {% if team.starred_position == "wr1" %}
          Starred:
        {% endif %}
        {{ team.wr1[0]}}: Average Points = {{ team.wr1[1] }}
      </p>
      <p>
        {% if team.starred_position == "wr2" %}
          Starred:
        {% endif %}
        {{ team.wr2[0]}}: Average Points = {{ team.wr2[1] }}
      </p>
      <p>
        {% if team.starred_position == "wr3" %}
          Starred:
        {% endif %}
        {{ team.wr3[0]}}: Average Points = {{ team.wr3[1] }}
      </p>
      <h3> Running Backs </h3>
      <p>
        {% if team.starred_position == "rb1" %}
          Starred:
        {% endif %}
        {{ team.rb1[0]}}: Average Points = {{ team.rb1[1] }}
      </p>
      <p>
        {% if team.starred_position == "rb2" %}
          Starred:
        {% endif %}
        {{ team.rb2[0]}}: Average Points = {{ team.rb2[1] }}
      </p>
      <p>
        {% if team.starred_position == "rb3" %}
          Starred:
        {% endif %}
        {{ team.rb3[0]}}: Average Points = {{ team.rb3[1] }}
      </p>
  </body>
 </html>